@media screen and (max-width: 600px) {
  .hidee{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
.fimage{
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 1px;
}
.more{
  color:#65686d;
  font-weight: 150000;
}
.card{
  display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 2px 2px #aaaaaa;
}
.footer{
  min-height: 4em;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #aaaaaa;
}
.foot2{
  width: 100%;
}
.cname{
  margin-left: 1.5em;
}
.specials{
  display: inline-block;
  width:100%;
  min-height: 3em;
  background: #fff;
  box-shadow: 2px 2px 2px 2px #aaaaaa;
}
.sps{
  text-align: center; vertical-align: middle; line-height: 45px;
}
.filmy{
  margin-left: -1em;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 30px;
  vertical-align: middle;
}
.pannel{
  background: #fff;
  box-shadow: 1px 1px 1px 1px #aaaaaa;
}
.mainn{
 		position: absolute;
	   top: 100px;
	   margin-left: 30px;
	   width: 100%;
		 color: white;

}
.backk{
  color: black;
  background: #666a72;
}
.header-image {
	width: 100%;
	max-height: 23em;
  max-width: 96.7%;
  margin-left: 1em;
}
.pheight{
  max-height: 50px;
}

.random{
  width : 100%;
  height:15em;
  object-fit: cover;
}
.container {
    position: relative;
    width: 100%;
    }
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.formm {
	width:100%;
	margin-bottom: 2em;
}
