@media screen and (max-width: 600px) {
  .hidee{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
.mainn{
 		position: absolute;
	   top: 200px;
	   margin-left: 10px;
	   width: 100%;
		 color: white;

}
.header-image {
	position:relative;
	width: 100%;
	margin-top: -2em;
	margin-right: 2em;
	height:50%;
	border-radius:3%;
}

.container {
    position: relative;
    width: 100%;
    }
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.formm {
	width:100%;
	margin-bottom: 2em;
}
