.facebook {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  border-radius: 0;
}
.facebook:hover { background-position: right center; }

.num {
  color:red;
}
.goohle{
  border-radius: 0;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
  color: white;
}
.goohle:hover { background-position: right center; }

.signupp{
	margin-bottom: 10em;
}
.submitt{
  border-radius: 0;
  background: #0076FF;
  color:white;
}
